/* ./styles/globals.css */
@import url('https://fonts.googleapis.com/css2?family=Lora:wght@500;700&display=swap');
@tailwind base;
/* Start purging... */
@tailwind components;
/* Stop purging. */
@tailwind components;
@tailwind utilities;
/* @font-face {
  font-family: 'Roboto';
  src: local('Roboto'), url(./fonts/Roboto-Regular.ttf) format('ttf');
} */

@layer base {
  body {
    background: #000;
  }
  .fullpags {
    visibility: hidden;
  }
  .link a:after {
    display: block;
    content: '';
    height: 2px;
    background-color: #fff;
    position: absolute;
    bottom: 0;
    width: 100%;
    transform: translateX(-101%);
    transition: 0.3s;
  }
  .link a:hover::after {
    transition: transform 0.3s cubic-bezier(0.5, 0.7, 0.4, 1);
    transform: translateX(0);
  }
  .link a.animate-out::after {
    transition: transform 0.3s cubic-bezier(0.5, 0.7, 0.4, 1);
    transform: translateX(100%);
  }
}
