/* ./styles/globals.css */
@import url('https://fonts.googleapis.com/css2?family=Averia+Serif+Libre&family=Cormorant+Garamond:ital,wght@0,300;1,300&family=Domine:wght@500&display=swap');
@tailwind base;
/* Start purging... */
@tailwind components;
/* Stop purging. */
@tailwind components;
@tailwind utilities;
/* @font-face {
  font-family: 'Roboto';
  src: local('Roboto'), url(./fonts/Roboto-Regular.ttf) format('ttf');
} */

@layer base {
  body {
    background: #f4f7f6;
  }
  .fullpags {
    visibility: hidden;
  }
  .link a:after {
    display: block;
    content: '';
    height: 2px;
    background-color: #111827;
    position: absolute;
    bottom: 0;
    width: 100%;
    transform: translateX(-101%);
    transition: 0.3s;
  }
  .link a:hover::after {
    transition: transform 0.3s cubic-bezier(0.5, 0.7, 0.4, 1);
    transform: translateX(0);
  }
  .allimages {
    transition: all 0.2s ease-in-out;
  }
  .allimages:hover {
    transform: scale(1.1);
  }
  .cards {
    width: 600px;
  }
  .cards-text {
    text-align: center;
    top: 50%;
    left: 0;
    width: 90vw;
    transform: translateY(-50%);
  }
  .cards-text span {
    position: absolute;
    line-height: 2;
    left: 0;
    transform: translateX(-200%);
  }
  .whitespace {
    /* white-space: pre-line; */
  }
  .scroll-text {
    animation: animate 40s linear infinite;
    animation-delay: -40s;
    z-index: -1;
  }
  .scroll-text2 {
    animation: animate2 40s linear infinite;
    animation-delay: -40s;
    z-index: -1;
  }
  .scroll-text span {
    -webkit-text-stroke: 1px #000;
    color: transparent;
  }
  .scroll-text2 span {
    -webkit-text-stroke: 1px #000;
    color: transparent;
  }
  .icons {
    color: red;
  }
  .name_img {
  }
  .name_hover span:hover .name_img {
    display: none;
  }
  @keyframes animate {
    0% {
      transform: translateZ(0);
    }
    100% {
      transform: translate3d(-100%, 0, 0);
    }
  }
  @keyframes animate2 {
    0% {
      transform: translateZ(0);
    }
    100% {
      transform: translate3d(-100%, 0, 0);
    }
  }
  @media only screen and (max-width: 900px) {
    .cards-text {
      text-align: start;
      top: -32px;
      right: 0;
    }
    .cards-text span {
      position: absolute;
      top: 40px;
      transform: translateX(-200%);
    }
  }
}
